@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;500;600;700;800&family=Work+Sans:wght@400;700;800&display=swap");

/* universal styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  color: var(--Dark-01, #181818);
}

.color-primary {
  color: #fd6e0a;
}
.para-primary {
  color: var(--Dark-03, #757575);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  color: #ffff;
  font-size: 20px;
  font-weight: 700;
  padding: 14px 30px;
  border: 0;
}
.btn-secondary {
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  background-color: #fff8f3;
  border-radius: 5px;
  padding: 14px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/* nav bar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
}
nav a {
  text-decoration: none;
}
.nav-title {
  font-size: 45px;
  font-weight: 800;
}

/* header section styles */
.header {
  background-color: #fff8f3;
  align-items: center;
  justify-content: center;
}
.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.banner-greeting {
  font-size: 40px;
  font-weight: 600;
}
.banner-title {
  font-size: 80px;
  font-weight: 700;
}
.banner-img {
  width: 500px;
}
